.paper{
	position: relative;
	width: 892px;
	padding:0px 44px; 
	margin: 0 auto;
	border: 1px solid #DCDCDC;
	/*background-color: #DCDCDC;*/
}
.paper .header{
	border-bottom: 2px solid #938e8c;
}
.paper .header .logo{
	width: 110px;
	height: 61px;
	background-color:#d45d5c;
}
.paper .header .logo a{
	position: relative;
	top: 47px;
	left: 10px;
	font-family: "SimHei";
	font-size:12px;
	line-height: 14px;
	color: #fff;
}
.paper .header .date{
	float: right;
	margin-top: 41px;
	font-family: "SimHei";
	font-size:12px;
	line-height: 14px;
	color: #d45d5c;
}
.paper .footer{
	position: relative;
	margin-top: 38px;
	border-top: 1px solid #938e8c;
	height: 58px;
}
.footer a{
	position: absolute;
	top: 2px;
	right:0px;
	font-family: "SimHei";
	font-size:12px;
	line-height: 14px;
	color: #d45d5c;
}
.paper .body{
	padding:34px 0px;
}
.body .headline{
	height: 301px;
}
.headline .banner{
	margin-right: 251px;
	height: 301px;
	width: 641px;
	background:url("../img/banner.jpg");
}
.headline .banner .mask{
	height: 301px;
	width: 191px;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;/*【1数字越大越接近纯色】*/
}

.headline .banner .leftMask{
	background-color: #428c59;
	float: left;
}
.headline .banner .rightMask{
	background-color: #cc7680;
	float: right;
}
.headline .headTitle{
	float: right;
	width: 203px;
	height: 289px;
	/*background-color: #fff;*/
	border-top:2px solid #cc8091;
	padding-top: 10px;
}
.headline .headTxt1{
	font-family: "Microsoft YaHei";
	font-size:18px;
	line-height:30px;
	color: #000;
	text-decoration:underline;
}
.headline .headTxt1:first-letter{
	font-size:24px;
	line-height: 1;
}

.headline .headTxt2{
	margin-bottom: 40px;
	font-family: "KaiTi";
	font-size:12px;
	line-height:10px;
	color: #676767;
	text-decoration:none;
}
.headline .headTxt3{
	position: relative;
	left:-18px;
	font-family: "Microsoft YaHei";
	font-size:116px;
	line-height:116px;
	color: #75b86b;
}
.headline .headTxt{
	font-family: "Microsoft YaHei";
	color: #cc8091;
}
.headline .headTxt4{
	display:inline;
	font-size:55px;
	line-height:55px;
}
.headline .inline{
	
	display:inline-block;
}
.headline .headTxt5{
	font-size:21px;
	line-height:21px;
}
.headline .headTxt6{
	font-size:12px;
	line-height:12px;
}

.body .middle{
	height: 168px;
	width: 892px;
	padding-top: 40px;
	/*border:1px solid black;
	background-color: #fff;*/
}

.middle .article{
	width: 641px;
	display:-moz-box;  
	display:-webkit-box; 
	display:box;
}
.middle .middleTitle{
	font-family:"Microsoft YaHei";
	font-size:16px;
	text-decoration:underline;
	font-weight:bold;
}
.middle .txt1{
	color: #418c59;
}
.middle .txt2{
	color: #d2994f;
}
.middle .txt3{
	color: #cc7680;
} 
.middle .what,.middle .when,.middle .how{
	-moz-box-flex:1.0; /* Firefox */
	-webkit-box-flex:1.0; /* Safari and Chrome */
	box-flex:1.0;
	/*border:1px solid blue; flex设置仍有疑问 */
	padding-right: 30px;
}
.txt11{
	font-family:"SimSun";
	font-size:12px;
	line-height:16px;
	color: #767777;
}
.middle .txt12{
	font-family:"Microsoft YaHei";
	font-size:12px;
	line-height:16px;
	color: #231815;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
.middle .how span{
	font-style:italic;
	color: #cd4a48;
}
.body .bottom{
	position: relative;
	margin-top: 73px;
	height: 587px;
	width: 892px;
	/*background-color:#ccc;*/
}
.bottom .leftcol{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 415px;
	height:607px;
	/*background: pink;*/
}
.bottom .rightcol{
	width: 458px;
	height:607px;
	position: absolute;
	top: 0px;
	right: 0px;
	/*background: pink;*/
}
.leftcol .bottomTitle{
	width: 415px;
	height: 162px;
	border-bottom: 2px solid #10456b;
	margin-bottom: 26px;
}
.leftcol .bottomTitle h1{
	font-family: "SimHei";
	color: #11456b;
	font-size: 42px;
	line-height: 48px;
	font-weight: bold;
	margin-top: -12px;
}
.leftcol .bottomTitle h1 i:first-child{
	font-size: 72px;
	color: #f5e327;
	line-height: 1;
}
.leftcol .bottomTitle h2{
	font-family: "SimHei";
	color: #11456b;
	font-size: 33px;
	line-height: 33px;
	font-weight: bold;
}
.leftcol .bottomTxt img{
	float:right;
	width: 172px;
	height: 288px;
	margin:18px 0px 16px 22px; 
}
.leftcol .bottomTxt p:first-of-type:first-letter{/*【】设置文章第一个字大写*/
	font-family:"Microsoft YaHei";
    font-size: 70px;
    color: #f5e327;
    line-height: 1;/*设置数字，此数字会与当前的字体尺寸相乘来设置行间距*/
    float: left;
    margin:0px 6px 8px 0px;

}
.rightcol .bottomImg{
	width: 458px;
	height: 258px;
	background: url("../img/right.jpg");
}
.rightcol .bottomMask{
	position: absolute;
	right: 0px;
	top: 197px;
	height: 61px;
	width: 458px;
	background: #10456b;
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
}
.rightcol .maskTxt{
	position: absolute;
	left: 38px;
	top: 205px;
	border-left: 3px solid #72b16a;
	height: 44px;
}
.rightcol .maskTxt .t1{
	font-family: "Microsoft YaHei";
	font-size:26px;
	color: #fff;
}
.rightcol .maskTxt .t2{
	font-family: "Microsoft YaHei";
	font-size:12px;
	color: #72b16a;
	letter-spacing:0.4em;/*字间距140%*/
}
.rightcol .bottomSum{
	padding-top: 10px;
	margin-top:30px; 
	width:459px;
	height: 318px;
	background-color: #eeedd6;
}
.rightcol .sumlist{
	text-align:justify;/*实现两端对齐文本效果。*/
	font-size: 16px;
	line-height: 20px;
	color: red;
}
.rightcol .sumlist li{
	line-height: 45px;
	margin:0 20px;
}
.rightcol .sumlist li:before{
	float: left;
	margin:22px 8px 0px 0px;
	content: " ";
	display: block;
	width: 0px;
	height: 0px;
	border-left: 4px solid #eeedd6;
	border-right:4px solid #eeedd6;
	border-bottom:6px solid #11456c;
}
.rightcol .sumlist li i{
	float: right;
	font-size: 12px;
}
.rightcol .leftbox{
	float: left;
	margin:20px 20px 0px 0px; 
	padding: 37px 12px;
	width: 236px;
	height: 86px;
	background-color: #d45d5c;
}
.rightcol .leftbox span{
	font-size: 110px;
	color: #fff;
	line-height: 86px;
}
.rightcol .leftbox .leftline{
	float:right; 
	padding:6px 0px 6px 10px; 
	height: 74px;
	width: 158px;
	border-left: 2px solid #fff;
}
.rightcol .leftbox .leftline i{
	font-family:"SimHei";
	font-size: 21px;
	color: #fff;
	line-height:24px;	
}
.rightcol .leftbox .leftline p{
	font-family:"SimHei";
	font-size: 12px;
	color: #fff;	
}
.rightcol .rightbox{
	/*background-color: #fff;*/
	padding:20px 20px 0px 0px;
	margin-left: 280px;
	font-size: 14px;
	line-height: 16px;
}
.rightcol .rightbox span{
	font-family:"SimHei";
	font-size: 72px;
	line-height: 6px;
	color: #d45d5c;
}
.rightcol .rightbox .bigdot1{
	position: relative;
	top: 36px;
	left: -36px;
}
.rightcol .rightbox .bigdot2{
	position: relative;
	top:16px;
	left:130px;

}